body{
    background-color: black;
    color: white;
}
input[type=text] {
    padding: 10px;
    width: 12.5%;
    border: none;
    border-radius: 100px;
}
input[type=text]:focus{
    background-color: lightgray;
}
input[type=submit]{
    display: inline-block;
    border: none;
    padding:  10 20 10 20px;
    border-radius: 100px;
}