body{
    background-color: white;
    color: black;
}
input[type=text] {
    padding: 10px;
    width: 30%;
    border: none;
    border-radius: 100px;
    display: inline-block;
    margin: 2.5% 0 0 0;
}
#rad1, #rad2, #rad3{
    display: block;
    margin: 1%;
}
input[type=text]:focus{
    background-color: lightgray;
}
input[type=submit]{
    display: inline-block;
    border: none;
    padding:  10 20 10 20px;
    border-radius: 100px;
}
input[type=number] {
    padding: 10px;
    width: 30%;
    border: none;
    border-radius: 100px;
    display: inline-block;
    margin: 2.5% 0 0 0;
}
input[type=number]:focus{
    background-color: lightgray;
}
#eventGetter{
    width: 100%;
}
@media only screen and (min-width: 768px){
    #eventGetter{
        width: 50%;
        height: 80%;
        position: absolute;
        display: block;
        right: 0;
        top: 0;
        margin: 7.5% 2.5% 5% 0;
    }
    input[type=number] {
        padding: 10px;
        width: 12.5%;
        border: none;
        border-radius: 100px;
        margin: 0 0 0 1.5%;
    }
    input[type=text] {
        padding: 10px;
        width: 12.5%;
        border: none;
        border-radius: 100px;
        margin: 0;
    }
    #rad1, #rad2, #rad3{
        display: block;
        margin: 1%;
    }
}